@import "~bulma";

.nav-wrapper{
    margin-top: 0;
    margin-right: auto;
    margin-left: auto;

}

.player-stats {
    width: 15vw;
    background: lightblue;
}

.life-lines{
    background: lightblue;

    width: 15vw;
}
